<form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{pageTitle}}</mat-card-title>
    </mat-card-header>
    <mat-card-content class="employee-creation-form">
        <div class="form-row">
          <mat-form-field appearance="outline" class="form-field">
            <mat-label>First Name</mat-label>
            <input matInput formControlName="firstName" required>
          </mat-form-field>

          <mat-form-field appearance="outline" class="form-field">
            <mat-label>Last Name</mat-label>
            <input matInput formControlName="lastName" required>
          </mat-form-field>

          <mat-form-field appearance="outline" class="form-field">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" required type="email">
          </mat-form-field>
        </div>
      

      <div class="form-row">
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Hire Date</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="hireDate" required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Job Title</mat-label>
          <input matInput formControlName="jobTitle" required>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Salary</mat-label>
          <input matInput formControlName="salary" required>
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit" [disabled]="!employeeForm.valid">{{buttonText}}</button>
    </mat-card-actions>
  </mat-card>
</form>
