.app-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: start;
    margin-top: 5vh;
    align-items: center;
  }
  .grid-container {
    height: 75vh;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    border: 1px solid #202427;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
.add-button-container {
  align-self: flex-start;
  margin: 10px 0 10px 5%;
  button {      
    background-color: #202427;
    color: #fff;
  }
}


  /* .ag-theme-quartz {
    --ag-foreground-color: #333;
    --ag-background-color: #ffffff;
    --ag-header-background-color: #202427;
    --ag-odd-row-background-color: #fafafa;
    --ag-header-foreground-color: #ffffff;
    --ag-border-color: #e0e0e0;
  } */

  .ag-theme-quartz .ag-header-cell {
    font-weight: bold;
  }

  .ag-theme-quartz .ag-cell {
    padding: 8px;
  }

  /* .ag-theme-quartz .ag-row-hover {
    background-color: #f0f0f0;
  } */


  